*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    background-color:papayawhip;
}
header{
    height: 60px;
    width: 100%;
    background-color: tan;
    display: flex;
    align-items: center;
    color: rgb(37, 28, 28);
}
.heading{
    width: 91%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menuicon{
    text-align: right;
    font-size: 25px;
    padding: 15px;
    cursor: pointer;
    display: block;
}
.search-input{
    width: 125px;
    cursor: pointer;
    background-color: bisque;
    border: rgb(100, 68, 25) solid;
    padding: 10px 20px;
    border-radius: 20px;
}
li{
    list-style-type: none;
}
nav ul li{
    display: inline;
    margin-right: 20px;
}
.logo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}
button{
    background-color: burlywood;
    cursor: pointer;
    border: 1px, solid balck;
    border-radius: 20px;
    width: 100px;
    height: 30px;
}
button:hover{
    background-color: transparent;
}
a{
    text-decoration: none;
    color: black;
}
a:link{
    color: black;
}
a:hover{
    color: #AF804F;
}
.navlist{
    display: none;
}
.section1{
    width: 100%;
    height: 400px;
    background-image: url("C:\Users\diyab\OneDrive\Attachments\Desktop\FEE files\cafe.jpg");
    background-repeat: none;
    background-size: cover;
    background-position: center;
    color: wheat;
    text-align: center;
    padding: 140px;
}
h1{
    font-size: 70px ;
    font-weight:lighter ;
}
h3{
    font-size: 30px;
}
.ourbestsales{
    padding: 40px;
}
.ourbestsales h1{
    font-size: 40px;
    font-weight: bolder;
    text-decoration: underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin: 30px auto;
}
.ourbest{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 10px;
    text-align: center;
}
.best1{
    background-color: papayawhip;
    margin: 30px 10px;
}
.best1 img {
    width: 70%;
    height: 60%;
    margin: auto;
    border-radius: 14px;
    border: 1px, burlywood;
}
img:hover{
    box-shadow: 0 0 4px 4px rgb(231, 167, 83);
}
.best1 div img{
    transition: all;
}
.best1 a{
    color: black;
    text-align: center;
    font-weight: bolder;
    display: block;
    background-color: burlywood;
    padding: 15px 0;
    border-radius: 30px;
}
a:link{
    color: black;
}
.best1 a:hover{
    color:#AF804F ;
    background: transparent;
    border: 2px solid black;
    border-radius: 30px;
}
.best1 h2{
    padding: 10px;
}
.best1 p{
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer{
    background-color: #AF804F;
    color: black;
    text-align: center;
    padding: 10px 0;
    font-weight: bolder;
    font-size: 20px;
}
@media ( min-width: 765px){
    .menuicon{
   display: none;
  }
  .navlist{
   display: block;
  }

}
.best2 h3{
    text-align: center;
    font-family: cursive;
    color: #AF804F;
    margin: auto;
    padding: 40px;
    line-height: 50px;
}
