*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    background-color:papayawhip;
}
header{
    height: 60px;
    width: 100%;
    background-color: tan;
    display: flex;
    align-items: center;
    color: rgb(37, 28, 28);
}
.heading{
    width: 91%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menuicon{
    text-align: right;
    font-size: 25px;
    padding: 15px;
    cursor: pointer;
    display: block;
}
.search-input{
    width: 125px;
    cursor: pointer;
    background-color: bisque;
    border: rgb(100, 68, 25) solid;
    padding: 10px 20px;
    border-radius: 20px;
}
li{
    list-style-type: none;
}
nav ul li{
    display: inline;
    margin-right: 20px;
}
.logo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}
button{
    background-color: burlywood;
    cursor: pointer;
    border: 1px, solid balck;
    border-radius: 20px;
    width: 100px;
    height: 30px;
}